<%- include('partials/header') %>

<h1>Edit Post</h1>

<form action="/posts/<%= post.id %>" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      name="title"
      class="form-control"
      value="<%= post.title %>"
      required
    />
  </div>

  <div class="mb-3">
    <label for="imageUrl" class="form-label">Image URL</label>
    <input
      type="text"
      name="imageUrl"
      class="form-control"
      value="<%= post.imageUrl %>"
      required
    />
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea name="content" class="form-control" rows="5" required>
<%= post.content %></textarea
    >
  </div>

  <button type="submit" class="btn btn-success">Update Post</button>
</form>

<%- include('partials/footer') %>
