<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= heading %></title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= heading %></h1>

      <% if (locals.post) { %>
      <!-- Edit Post Form -->
      <form id="editForm" method="post" action="/posts/<%= post.id %>">
        <input type="text" name="title" value="<%= post.title %>" required />
        <textarea name="content" rows="10" required>
<%= post.content %></textarea
        >
        <input type="text" name="author" value="<%= post.author %>" required />
        <button class="full-width" type="submit"><%= submit %></button>
      </form>
      <% } else { %>
      <!-- New Post Form -->
      <form id="newPostForm" method="post" action="/posts">
        <input type="text" name="title" placeholder="Title" required />
        <textarea
          name="content"
          placeholder="Content"
          rows="10"
          required
        ></textarea>
        <input type="text" name="author" placeholder="Author" required />
        <button class="full-width" type="submit"><%= submit %></button>
      </form>
      <% } %>
    </div>
  </body>
</html>
